@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Jersey 20", sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: aqua;
    color: #333;
    font-weight: 400;
   font-style: normal;
}

header {
    background: green;
    color: black;
    padding: 20px 0;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: aqua;
    border: 15px solid black;
}

.introducao {
    margin: 100px 150px ;
    padding:50px ;
    background: grey;
    border-radius: 8px;
    border: 15px solid black;
    text-align: center;
    width: 80%;
    height: 150px;
}

.texto1{

  color: red;
}
.texto2{
  color : blue;
}

.links-uteis {
    background-color : black;
    border: 5px dashed aqua;
    padding:5px;
    border-radius :10px;
    
    
}

.links-uteis li {
    margin-bottom: 10px;
    color : blue;
}

 .links-uteis a:visited {
    text-decoration: none;
    color: green;
    
}

.links-uteis a:hover {
    text-decoration: underline;
    color : aqua;
    
}



footer {
    text-align: center;
    padding: 8px;
    background: #333;
    color: black;
    width: 100px;
    background-color: white; 
    border: 10px solid black;
    font-weight: bold;
   
}